<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kredit Hisoblash</title>
</head>
<body>
<h1>Kredit Hisoblash Formasi</h1>
<form action="/kreditHisoblash" method="post">
    <label for="creditAmount">Kredit summasi (so'm):</label>
    <input type="number" id="creditAmount" name="creditAmount" required><br><br>

    <label for="annualRate">Yillik foiz stavkasi (%):</label>
    <input type="number" id="annualRate" name="annualRate" step="0.01" required><br><br>

    <label for="amountMonth">Kredit muddati (oy):</label>
    <input type="number" id="amountMonth" name="amountMonth" required><br><br>

    <label for="calculationType">Hisoblash turini tanlang:</label>
    <select id="calculationType" name="calculationType">
        <option value="oddiy" selected>Oddiy</option>
        <option value="annuitet">Annuitet</option>
    </select><br><br>

    <button type="submit">Hisoblash</button>

    <div id="spinner" style="display:none;">
        <p>Hisoblanmoqda...</p>
    </div>
</form>

<script>
    const form = document.querySelector('form');
    const spinner = document.getElementById('spinner');

    form.addEventListener('submit', function () {
        spinner.style.display = 'block'; // Spinnerni ko'rsatish
    });
</script>

</body>
</html>
